# Archivos de Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*tfplan
.terraformrc
terraform.rc

# Variables de Terraform (no deben ser versionadas)
terraform.tfvars
*.tfvars.json

.DS_Store

